body,.mui-page, .mui-content{
    background:#f3f3f3;
    height:100%;
}
/***合并缴费订单去缴费 合并缴费订单提交详情***/

.his-record .mui-scroll{
    /*padding-bottom:138px;*/
    padding-bottom:100px;
    min-height:100%;
}
.his-record .mui-card{
    margin:12px 15px;
    box-shadow:0 3px 5px rgba(0, 0, 0, .1);
}
.mui-content>.mui-card:first-child{
    margin-top:12px;
}
.his-record .mui-card-content-inner{
    padding:12px 15px;
}
.his-record .mui-card-content-inner p{
    font-size:14px;
    color:#333;
    margin-bottom:6px;
}
.his-record .mui-card-content-inner p span{
    color:#666;
}
.his-record .mui-card-content-inner p:last-child{
    margin:0;
}
.his-record .mui-card-content-inner p:last-child span{
    color:#fc4d4d;
}

.footer{
    background-color:#fff;
    /*height:133px !important;*/
    min-height:48px;
    position:fixed;
    z-index:10;
    bottom:0;
    right:0;
    left:0;
    padding:0;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, .1);
}
.footer .button{
    width:97px;
    height:48px;
    padding:0 10px;
    font-size:18px;
    color:#fff;
    text-align:center;
    line-height:48px;
    background-color:#0398FF;
    border-radius:0;
    border:none;
    top:0;
}
.footer .mui-btn:enabled:active,
.footer button:enabled:active{
    background-color:rgba(3,152,255,0.8);
}
.footer .mui-bar{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height:48px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color:#fff;
}
.footer .mui-card{
    margin-top:0 !important;
    font-size:16px;
}
.footer .mui-bar >div{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
    line-height:48px;
    height:48px;
    font-size:16px;
    color:#333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top:1px solid #eee;
    padding:0 15px;
}
.footer .total>span{
    font-size:12px;
    color:#fc4d4d;
}
.footer .total .totalcount{
    font-size:16px;
    font-weight:bold;
}
.footer .mui-table-view{
    margin:0 0 48px;
}
.footer .mui-active{
    background-color:transparent !important;
}
.footer .paycount:after{
    left:0;
    background-color:#eee;
}
.footer .paycount {
    padding-right:15px;
}
.footer .paycount i{
    font-style:normal;
    font-size:18px;
    color:#fc4d4d;
    font-weight:600;
}
.footer .ticket{
    padding-right: 35px;
}
.footer .hidden{
    display:none;
}
.footer .ticket>a.mui-navigate-right{
    margin-right: -37px;
}
.footer .ticket>a i{
    font-style:normal;
    font-size:16px;
    font-weight:bold;
    color:#fc4d4d;
}
.footer .ticket>a i.noticket{
    color:#999;
    font-size:12px;
    font-weight:normal;
}
/**暂无订单**/
.no-data p{
    margin-top:-35px;
    font-size:18px;
    color:#999;
}
/**优惠券弹出框**/
#pop_position{
    width: 0;
    height: 0;
    position: fixed;
    top: 70%;
    left: 50%;
}
#popover{
    /*width:100% !important;*/
    height:380px;
    width:300px;
    /*left:0 !important;*/
    background:url(/resources/img/notice_bg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow:none;
    box-shadow:none;
}
/*移除底部或顶部三角,需要在删除此代码*/
.mui-popover .mui-popover-arrow,
.mui-popover .mui-popover-arrow:after {
    width: 0;
}
.pop-content{
    height:100%;
    position:relative;
    text-align:center;
    font-family: PingFangSC-Medium, sans-serif;
}
.pop-content>p.title{
    position: absolute;
    top: 205px;
    width:100%;
    /*left: 0;*/
    /*right: 0;*/
    color: #333;
    font-size:18px;
}
.pop-content>p.text{
    position:absolute;
    width:100%;
    top: 240px;
    color: #999;
}
.pop-content button{
    display:inline-block;
    width: 250px;
    height:41px;
    bottom: -315px;
    border-radius:20px;
    padding: 7px 12px;
    font-size: 18px;
    color: #fff;
    background-color:#0084FF;
    border:none;
}