body, .mui-content{
    background:#f3f3f3;
}
.pay-list .current{
    padding-top:12px;
}
.pay-list.mui-table-view .current .mui-media-body{
    margin-top:0;
}
.pay-list.mui-table-view .current .mui-media-body p:last-child{
    margin:0;
}
.pay-list .mui-pull-right p.ticket-info{
    font-size:12px;
}
.pay-list.mui-table-view .mui-media-body{
    margin-right:115px;
}
.pay-list .mui-media .mui-pull-right{
    margin-left:0;
    width:115px;
    max-width:120px;
}
.ticket-info.hidden{
    visibility: hidden;
}